In [10]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv("/home/jovyan/demo/melb-data.csv")

In [23]:
print(df)

      Type1  Type2  Type3  Rooms  Bathroom  Car  Landsize  BuildingArea  \
0         1      0      0      4         3    2      1001        315.00
1         1      0      0      5         4    2      1000        324.00
2         1      0      0      4         1    1      1000        203.00
3         1      0      0      3         1    4      1000         85.00
4         1      0      0      2         1    0      1000         81.79
...     ...    ...    ...    ...       ...  ...       ...           ...
5263      0      1      0      2         1    1       100        110.00
5264      1      0      0      2         1    1       100         85.00
5265      1      0      0      2         1    1       100         88.00
5266      1      0      0      2         1    1       100        105.00
5267      1      0      0      2         1    1       100         90.00

      Distance  YearBuilt    Price
0         21.8       2012   990000
1         13.7       1950  2600000
2         10.7       1960  1920000
3          8.2       1930  1575000
4         36.9       1980   655000
...        ...        ...      ...
5263      10.5       1960   845000
5264       5.2       1970   659500
5265      13.0       1975   400000
5266       8.5       2012   585500
5267       9.4       2013   370000

[5268 rows x 11 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [28]:
X = df[['Type1', 'Type2', 'Type3', 'Rooms', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Distance', 'YearBuilt']]
y = df['Price']

In [43]:
train_x = X[:round(5268*.8)]
train_y = y[:round(5268*.8)]

test_x = X[round(5268*.8):]
test_y = y[round(5268*.8):]

In [44]:
print(train_x)

      Type1  Type2  Type3  Rooms  Bathroom  Car  Landsize  BuildingArea  \
0         1      0      0      4         3    2      1001        315.00
1         1      0      0      5         4    2      1000        324.00
2         1      0      0      4         1    1      1000        203.00
3         1      0      0      3         1    4      1000         85.00
4         1      0      0      2         1    0      1000         81.79
...     ...    ...    ...    ...       ...  ...       ...           ...
4209      0      0      1      2         1    1       228        125.00
4210      1      0      0      2         1    2       228        110.00
4211      1      0      0      2         2    1       228        111.00
4212      1      0      0      2         1    1       228         87.00
4213      1      0      0      2         1    2       228         90.00

      Distance  YearBuilt
0         21.8       2012
1         13.7       1950
2         10.7       1960
3          8.2       1930
4         36.9       1980
...        ...        ...
4209       6.9       1910
4210       5.5       2004
4211       6.6       1930
4212      13.7       1975
4213       5.9       1995

[4214 rows x 10 columns]

In [51]:
model = linear_model.LinearRegression()
model.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
predictions = model.predict(test_x)

In [53]:
print(predictions[:5])

[ 562162.1062056   523069.03981568 1430030.80947077 1396241.69547117
 1171890.98670508]

In [54]:
print(model.score(test_x, test_y))

0.5898031214785835